<div class="jumbotron">
  <div class="container">
    <h1 class="titulos"> Mi Página </h1>
    <h1 class="titulos">Ruby</h1>
    <a href="http://en1mes.com" class="btn btn-default " >
      <span class="glyphicon glyphicon-fire" style="color: orange"></span>
      En1mes

    </a>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-4">

    <div class="page-header">
      <h2 style="display:inline">Example page header</h2>
      <span class="label label-default">New</span>
    </div>
      <a href="http://en1mes.com" target="_blank"> En1mes  en otra página</a>
      <p class="titulos">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eaque, soluta. Animi dolore est fugit harum iste iusto maxime molestiae obcaecati optio placeat quas, qui ullam veniam voluptas voluptate voluptatum!
      </p>
  </div>

  <div class="col-md-4">
    <div class="page-header">
      <h2>Example page header</h2>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid ducimus eum harum minima, numquam placeat. Accusantium corporis debitis error excepturi facere id iusto modi, odio quae saepe sunt voluptas.
    </p>
  </div>

  <div class="col-md-4">
    <div class="page-header">
      <h2>Example page header</h2>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dicta, dolore eaque earum eligendi esse explicabo inventore ipsa, ipsam natus nihil nostrum obcaecati optio quisquam, rem similique soluta veniam voluptates!
    </p>
    <h6>Sub ... subtítulo</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi, consequuntur cupiditate dicta dolor eius est harum hic minus modi nisi nulla perspiciatis quas quia rerum similique, soluta sunt vitae?
    </p>

    <a href="http://en1mes.com">
      <img src="http://www.en1mes.com/assets/logo-79cc18afeb892865eb97c6b6641f7dc5.png" alt="logo de 1 mes " class="img-responsive">
    </a>

    <hr>
    <br>

    <img src="http://img.infocoches.com/img/chevrolet/2008-Camaro-Black-Concept/chevrolet_2008-Camaro-Black-Concept-005_4.jpg" class="img-responsive">

    <ul>
      <li>Iten 1</li>
      <li>Iten 4</li>
      <li>Iten 3</li>
    </ul>
    <ol>
      <li>Iten 1</li>
      <li>Iten 4</li>
      <li>Iten 3</li>
    </ol>
  </div>
</div>
</div>

